<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dashboard | CollegeBuddy</title>
  <link rel="stylesheet" href="assets/libs/iconfonts/mdi/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="assets/css/dashboard.css">
  <link rel="shortcut icon" href="assets/img/icon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="/dashboard">
          <img src="assets/img/logo-dark.png" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="/dashboard">
          <img src="assets/img/icon.png" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">Hello, <%= username %> !</span>
              <img class="img-xs rounded-circle" src="assets/img/me.png" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item mt-2" href="/settings">
                Settings
              </a>
              <a class="dropdown-item" href="/logout">
                Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="assets/img/me.png" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name"><%= username %></p>
                  <div>
                    <small class="designation text-muted">Student</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard">
              <i class="menu-icon mdi mdi-collage"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notes">
              <i class="menu-icon mdi mdi-file-multiple"></i>
              <span class="menu-title">Notes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clubs">
              <i class="menu-icon mdi mdi-account-multiple"></i>
              <span class="menu-title">Clubs</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">
              <i class="menu-icon mdi mdi-cards"></i>
              <span class="menu-title">Events</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lostandfound">
              <i class="menu-icon mdi mdi-map-marker"></i>
              <span class="menu-title">Lost & Found</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">
              <i class="menu-icon mdi mdi-tune"></i>
              <span class="menu-title">Settings</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="menu-icon mdi mdi-logout"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-book text-danger icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Total Notes Uploaded</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">65</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0 text-center">
                    <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 15% uploads this week
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-account-location text-info icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Total Club Members</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">246</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0 text-center">
                    <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> 20 added this week
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-receipt text-warning icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Events Organized</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">3</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0 text-center">
                    <i class="mdi mdi-poll mr-1" aria-hidden="true"></i> ₹5.2k funds raised this month
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-map-marker text-success icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Lost & Found</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">5</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0 text-center">
                    <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> 20 helpful posts this month
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <!--weather card-->
              <div class="card card-weather">
                <div class="card-body">
                  <div class="weather-date-location">
                    <h3 class="date2bday"><%= forecast.forecastday[0].date %></h3>
                    <p class="text-gray">
                      <span class="weather-date time2date"><%= location.localtime %></span><br>
                      <span class="weather-location"><%= location.name %></span>
                    </p>
                  </div>
                  <div class="weather-data d-flex">
                    <div class="mr-auto">
                      <h4 class="display-3"><%= forecast.forecastday[0].day.avgtemp_c %>
                        <span class="symbol">&deg;</span>C</h4>
                      <p>
                        <%= forecast.forecastday[0].day.condition.text %>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="d-flex weakly-weather">
                    <div class="weakly-weather-item">
                      <p class="mb-0 date2day"><%= forecast.forecastday[0].date %></p>
                      <img src="<%= forecast.forecastday[0].day.condition.icon %>">
                      <p class="mb-0">
                        <%= forecast.forecastday[0].day.avgtemp_c %>°
                      </p>
                    </div>
                    <div class="weakly-weather-item">
                      <p class="mb-0 date2day"><%= forecast.forecastday[1].date %></p>
                      <img src="<%= forecast.forecastday[1].day.condition.icon %>">
                      <p class="mb-0">
                        <%= forecast.forecastday[1].day.avgtemp_c %>°
                      </p>
                    </div>
                    <div class="weakly-weather-item">
                      <p class="mb-0 date2day"><%= forecast.forecastday[2].date %></p>
                      <img src="<%= forecast.forecastday[2].day.condition.icon %>">
                      <p class="mb-0">
                        <%= forecast.forecastday[2].day.avgtemp_c %>°
                      </p>
                    </div>
                    <div class="weakly-weather-item">
                      <p class="mb-0 date2day"><%= forecast.forecastday[3].date %></p>
                      <img src="<%= forecast.forecastday[3].day.condition.icon %>">
                      <p class="mb-0">
                        <%= forecast.forecastday[3].day.avgtemp_c %>°
                      </p>
                    </div>
                    <div class="weakly-weather-item">
                      <p class="mb-0 date2day"><%= forecast.forecastday[4].date %></p>
                      <img src="<%= forecast.forecastday[4].day.condition.icon %>">
                      <p class="mb-0">
                        <%= forecast.forecastday[4].day.avgtemp_c %>°
                      </p>
                    </div>
                    <div class="weakly-weather-item">
                      <p class="mb-0 date2day"><%= forecast.forecastday[5].date %></p>
                      <img src="<%= forecast.forecastday[5].day.condition.icon %>">
                      <p class="mb-0">
                        <%= forecast.forecastday[5].day.avgtemp_c %>°
                      </p>
                    </div>
                    <div class="weakly-weather-item">
                      <p class="mb-0 date2day"><%= forecast.forecastday[6].date %></p>
                      <img src="<%= forecast.forecastday[6].day.condition.icon %>">
                      <p class="mb-0">
                        <%= forecast.forecastday[6].day.avgtemp_c %>°
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--weather card ends-->
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
				Made with <i class="mdi mdi-heart text-danger"></i> by <strong>Manikiran</strong>
            </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script>
	var bdays = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
	var days = ['Sun','Mon','Tue','Wed','Thur','Fri','Sat'];
	var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
	let dates=document.querySelectorAll(".date2day");
	for (i=0;i<dates.length;i++)
	{
		dates[i].innerHTML=days[new Date(dates[i].innerHTML.replace(/(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3")).getDay()];
	}
	let bdates=document.querySelectorAll(".date2bday");
	for (i=0;i<bdates.length;i++)
	{
		bdates[i].innerHTML=bdays[new Date(bdates[i].innerHTML.replace(/(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3")).getDay()];
	}
	let tdates=document.querySelectorAll(".time2date");
	for (i=0;i<tdates.length;i++)
	{
		let tmp=tdates[i].innerHTML.split(" ");
		let date=new Date(tmp[0].replace(/(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
		tdates[i].innerHTML=date.getDate()+" "+months[date.getMonth()]+" "+date.getFullYear()+" "+tmp[1];
	}
  </script>
  <script src="assets/js/vendor.bundle.js"></script>
  <script src="assets/js/vendor.bundle.addons.js"></script>
  <script src="assets/js/misc.js"></script>
</body>

</html>