@font-face {
  font-family: Monoton;
  src: url(../fonts/Monoton/Monoton-Regular.ttf);
}
@font-face {
  font-family: Caveat;
  src: url(../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
  font-family: CaveatBold;
  src: url(../fonts/Caveat/Caveat-Bold.ttf);
}
@font-face {
  font-family: PermanentMarker;
  src: url(../fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand/Quicksand-Regular.ttf);
}
html,body{
	padding:0;
	margin:0;
	font-family:Quicksand;
}
.navbar{
	position:relative;
	z-index:10;
	padding:20px;
}
.navbar .logo{
	margin-left:100px;
}
.navbar .logo img{
	width:300px;
}
.navbar .nav-pills{
	list-style-type: none;
	margin: 0;
	padding: 20px;
	float:right;
}
.navbar .logo,.navbar .nav-pills,.navbar .nav-pills li{
	display: inline-block;
}
.navbar .nav-pills li a{
	color: #fff;
	padding: 10px 30px;
	margin:0px 10px;
	font-family:PermanentMarker;
	text-decoration: none;
	text-transform: uppercase;
	transition:0.1s linear all;
}
.navbar .nav-pills li a:hover,.navbar .nav-pills li a.active{
	border-bottom:5px solid #fff;
}
.navbar .nav-pills .nav-btn{
	background:#ff7600;
	background-image:linear-gradient(to right, #ff8216 0%, #ff7600 51%, #ff8216 100%);
	background-size:200% auto;
	border-radius:5px;
	transition:0.2s linear all;
}
.navbar .nav-pills .nav-btn:hover{
	box-shadow:#0a0a0a 0 0 5px 0;
	background-position: right center;
}
#about {
	position: relative;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	overflow: hidden;
}
#about::after {
	content: "";
	position: absolute;
	background:#0062e6;
	background: linear-gradient(to right, #0062e6, #0049ab);
	padding-bottom: 120%;
	width: 150%;
	bottom: 0;
	right: 0;
	-webkit-transform: rotate(0deg);
	transform: rotate(25deg);
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
}
#about .description{
	width: 40%;
	min-width:40%;
	position:relative;
	z-index:10;
	padding:20px;
}
#about .description h2{
	font-family:Quicksand;
	font-size:54px;
	font-weight:100;
}
#about .description h2 span{
	font-weight:900;
	display:block;
}
#about .description p{
	font-size:18px;
}
#about .description p.quote{
	font-style: italic; 
	margin-bottom:50px;
}
#about .description p.quote:before {
    content: "";
    margin: 10px;
    background: #ff7600;
    padding: 2px;
}
#about .description .readmore_btn{
	padding:20px 60px;
	margin:20px;
	background:#0062e6;
	background-image: linear-gradient(to right, #0062e6 0%, #0049ab 51%, #0062e6 100%);
	background-size: 200% auto;
	border-radius:20px;
	text-decoration:none;
	color:#fff;
	transition:0.2s linear all;
}
#about .description  .readmore_btn:hover{
	box-shadow:#0a0a0a 0 0 5px 0;
	background-position: right center;
}
#about .video{
	width:50%;
	min-width:50%;
	height: 60%;
	min-height: 60%;
	position:absolute;
	right:5%;
	top:25%;
	z-index:10;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	border-radius:50px;
	background-image:url(../img/banner.jpg);
	background-size:100% 100%;
}
#features{
	position: relative;
	width: 100%;
	min-height: 50vh;
	margin:0 auto;
	overflow: hidden;
	background: #ff7600;
    background-image: radial-gradient(#ff8216, #ff7600);
}
#features h1{
	color:#fff;
	text-align:center;
	padding:15px;
}
#features .feature{
	width:30%;
	margin:0%;
	padding:10px;
	float:left;
}
#features .feature:nth-child(1){
	margin-left:3%;
}
#features .feature .icon_box{
	position: relative;
	left:30%;
	width: 40%;
}
#features .feature .icon_box:before{
	content: "";
	display: block;
	padding-top: 100%;
}
#features .feature .icon_box .icon{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:#fff;
	border-radius:50%;
}
#features .feature .icon_box .icon i{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:64px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(158,40,112)), to(rgb(76,34,108)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#features .feature .info_card{
	position:relative;
	margin:10%;
	width:80%;
	height:300px;
	min-height:300px;
	background:rgb(158,40,112);
	background: linear-gradient(to bottom, rgb(158,40,112), rgb(112,36,110), rgb(76,34,108));
	border-radius:20px;
}
#features .feature .info_card h2{
	text-align:center;
	color:#fff;
	padding-top:30px;
}
#features .feature .info_card p{
	text-align:center;
	color:#fff;
	padding:10px 20px;
}
#features .feature .info_card .npb{
	padding-bottom:0;
}
#features .feature .info_card ul{
	margin:0;
	margin-left:2.5em;
	color:#fff;
}
#features .feature .info_card ul li{
	padding-bottom:5px;
}
#features .feature .info_card .readmore_btn{
	position:absolute;
	bottom:-20px;
	left:20%;
	width:60%;
	height:60px;
	max-height:60px;
	box-sizing:border-box;
	text-align:center;
	z-index:20;
	padding:20px;
	background:#0062e6;
	background-image: linear-gradient(to right, #0062e6 0%, #0049ab 51%, #0062e6 100%);
	background-size: 200% auto;
	border-radius:20px;
	text-decoration:none;
	font-size:16px;
	color:#fff;
	transition:0.1s linear all;
}
#features .feature .info_card .readmore_btn:hover{
	box-shadow:#0a0a0a 0 0 5px 0;
	background-position: right center;
}
#pricing{
	position: relative;
	width: 100%;
	min-height: 100vh;
	margin:0 auto;
	padding:50px 0;
	box-sizing:border-box;
	overflow: hidden;
	background:#0062e6;
	background: linear-gradient(to right, #0062e6, #0049ab);
}
#pricing h1{
	color:#fff;
	text-align:center;
	position:relative;
	top:-20px;
}
#pricing .price-box{
	position:relative;
	top:0;
	width: 25%;
	margin:1.5%;
	padding:20px;
	display:inline-block;
	background:#fff;
	border: none;
    border-radius: 1rem;
    transition: all 0.2s;
	box-sizing: border-box;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
	transition: 0.3s cubic-bezier(0, 2.44, 0.27, 1.82) all;
}
#pricing .price-box .price-title{
	opacity:0.7;
	margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
	text-align:center;
	text-transform: uppercase;
	font-weight:bold;
}
#pricing .price-box .price-rate{
	font-size: 3rem;
    margin: 0;
	text-align:center;
}
#pricing .price-box .price-old{
	text-decoration: line-through wavy red;
	font-size:60%;
}
#pricing .price-box .price-rate .period{
	font-size: 0.8rem;
}
#pricing .price-box hr{
	border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
#pricing .price-box ul{
	list-style-type: none;
    margin: 2.5em;
    padding-left: 2em;
}
#pricing .price-box ul li{
	font-size: 1rem;
	margin-bottom: 1rem;
}
#pricing .price-box ul li.text-muted{
	opacity: 0.5;
}
#pricing .price-box ul li .fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: 1.2;
}
#pricing .price-box .readmore_btn{
	position:absolute;
	bottom:-30px;
	left:20%;
	width:60%;
	height:60px;
	max-height:60px;
	box-sizing:border-box;
	text-align:center;
	z-index:20;
	padding:20px;
	background: rgb(251,174,23);
	background: linear-gradient(to right, rgb(251,174,23) 0%, #e48700 51%, rgb(251,174,23) 100%);
	background-size: 200% auto;
	border-radius:20px;
	text-decoration:none;
	font-size:16px;
	color:#fff;
	transition:0.1s linear all;
}
#pricing .price-box .readmore_btn:hover{
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	background-position:right center;
}
#contact{
	position: relative;
	width: 100%;
	min-height: 100vh;
	margin:0 auto;
	padding:50px 0;
	box-sizing:border-box;
	overflow: hidden;
	background:gray;
	background: radial-gradient(#ECEFF1, #78909C);
	display: flex;
	justify-content: center;
	color:#fff;
}
#contact .contact-map{
	width:60%;
	height:500px;
	min-height:500px;
	margin:2%;
	padding:0;
	background:#fff;
	border-radius:20px;
	box-sizing:border-box;
	background:url(https://image.freepik.com/free-vector/street-map-with-pin-routes_23-2147622544.jpg);
	background-size:100% 100%;
	overflow:hidden;
}
#contact .contact-map iframe{
	margin:0;
	padding:0;
	border-radius:50px;
}
#contact .contact-description{
	width:350px;
	margin:10% 5%;
	padding: 50px;
	height:400px;
	min-height:400px;
	color:#fff;
	background: #ff7600;
    background-image: linear-gradient(to bottom, #ff8216 0%, #ff7600 100%);
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	border-radius:20px;
	position:absolute;
	top:0;
	left:100px;
	box-sizing:border-box;
}
#contact .contact-description h2::after{
	content:"";
	padding:3px;
	width:100px;
	border-radius:10px;
	background:#fff;
	display:block;
}
#contact .contact-description li{
	margin-bottom:20px;
}
footer{
	padding:15px;
	text-align:center;
	font-family:Caveat;
	font-size:20px;
	color:#fff;
	background:#0062e6;
	background: linear-gradient(to right, #0062e6, #0049ab);
	line-height:24px;
}
footer .fa-heart{
	color:red;
	animation:pulsate 0.5s infinite alternate;
	width:25px;
}
footer span{
	font-family:CaveatBold;
	text-decoration:underline;
}
@keyframes pulsate{
	0%{
		font-size:16px;
	}
	100%{
		font-size:20px;
	}
}
@media (max-width:768px){
	#features .feature,#pricing .price-box{
		width:90%;
		margin:5%;
		padding:10px;
		float:none;
	}
	.navbar .nav-pills{
		display:none;
	}
	.navbar .logo {
		margin: 0;
		padding: 0;
		width: 100%;
		position: relative;
		text-align: center;
		box-sizing: border-box;
	}
	#about .video{
		display:none;
	}
	#about .description{
		width:90%;
		padding-bottom:50px;
	}
	#about .description h2{
		color:#fff;
	}
	#contact{
		display:block;
		padding:0;
	}
	#contact .contact-map{
		margin:0;
		width:100%;
		display:block;
		border-radius:0;
		height:300px;
		min-height: 300px;
	}
	#contact .contact-description{
		margin:0 !important;
		width:100% !important;
		min-height:auto !important;
		height:auto !important;
		display:block !important;
		position:static !important;
		border-radius:0 !important;
	}
}
@media (min-width:768px){
	#pricing .price-box:hover {
		top: -20px;
		box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	}
	#pricing .price-box.first{
		margin-left:9%;
	}
}
